<div>
    <form [formGroup]="myForm" (ngSubmit)="submit()">
        <div *ngFor="let question of myQuestions; let i = index">
            <p>{{i + 1}}. {{question.Q}}</p>
            <div id="options"><!--div class = "options"-->
                <input type="radio" formControlName={{question.Q}} value={{question.O1}} id={{question.O1}} ngModel required/>
                {{question.O1}}<br/>
                <input type="radio" formControlName={{question.Q}} value={{question.O2}} id={{question.O2}} ngModel required/>
                {{question.O2}}<br/>
                <input type="radio" formControlName={{question.Q}} value={{question.O3}} id={{question.O3}} ngModel required/>
                {{question.O3}}<br/>
                <input type="radio" formControlName={{question.Q}} value={{question.O4}} id={{question.O4}} ngModel required/>
                {{question.O4}}<br/>
            </div>
            <hr/>
        </div>
        <br/>
        <input type="submit" value="Submit" /> <!--[disabled]="myTest.invalid"-->
    </form>
</div>
